@model SocialNetwork.ViewModels.Account.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<h4>Регистрация нового пользователя</h4>
<form class="form" method="get" asp-controller="Register" asp-action="RegisterPart2">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="input_box">
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>
    <div>
        <div class="input_box">
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    
    <div>
        <input class="button" type="submit" value="Регистрация" />
    </div>
</form>