@using Microsoft.AspNetCore.Identity;
@using SocialNetwork.Models.Users;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager;

@model SocialNetwork.ViewModels.Account.MainViewModel;
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (SignInManager.IsSignedIn(User))
{
    <a asp-area="" asp-controller="AccountManager" asp-action="MyPage">Моя страница</a>
}
else
{

    <div class="bg">
        <div class="white_top"></div>
        <div class="grey_bottom"></div>
        <div class="white_left"></div>
        <div class="grey_right"></div>
    </div>

    <div class="row_main">
        <div class="side">
            <div class="side_box">
                <p>
                    Рады приветствовать тебя в нашей социальной сети!
                </p>
                <p>Скорее заходи, друзья уже ждут!</p>
            </div>
        </div>


        <div class="main">
            <div class="form_box">
                <partial name="Login" model="@Model.LoginView" />
            </div>
            <div class="form_box">
                <partial name="Register" model="@Model.RegisterView" />
            </div>
        </div>

    </div>

}
