.white_top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 50%;
    background-color: white;
    z-index: -2;
}

.blue_bottom {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #64A5FF;
    z-index: -2;
}

.white_left {
    position: absolute;
    top: 50px;
    right: 50%;
    left: 0;
    bottom: 0;
    background-color: white;
    z-index: -1;
    border-radius: 0 0 60px 0;
}

.blue_right {
    position: absolute;
    top: 56px;
    right: 0;
    left: 50%;
    bottom: 0;
    background-color: #64A5FF;
    z-index: -1;
    border-radius: 60px 0 0 0;
}

.main {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    padding: 20px;
    text-align: center;
    width: 50%;
}


.side {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    padding: 20px;
    text-align: center;
}

.side_box {
    background: url(https://img.freepik.com/free-vector/group-discussion-concept-illustration_114360-8782.jpg?w=740&t=st=1657985032~exp=1657985632~hmac=f66a24cfc8059845b02146a01163c4b96e6c6864ca2d8760f5eee47c3a12d045) 0 0 no-repeat;
    background-size: cover;
    height: 100%;
}

    .side_box > p {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        color: #000000;
    }

    .side > img {
        height: 26rem;
    }

.row_main {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

.footer {
    flex: 49.8%;
    padding: 20px;
    border: none !important;
}

.topnav {
    padding: 20px;
    text-align: center;
    width: 100%;
}

.form_box {
    background-color: white;
    border-radius: 40px;
    padding: 10px;
    margin: 15px;
    width: 25rem;
    margin-left: 50%;
    transform: translateX(-25%);
}

.input_box {
    margin: 10px;
}

.button {
    background: #007CFF;
    border: none;
    padding: 8px 14px;
    border-radius: 13px;
    color: white;
    width: 13rem;
    margin-top: 10px;
}
